.idea/
*.pyc
/imgs/
/tester.py
Datasets/
converter.sh
helpers/pos_neg_sizes.pkl
helpers/preparation/
mainPage.py
main_gui.py
*.pkl
weights/1.1.pkl
weights/1.2.1.pkl
weights/1.2.2.pkl
weights/1.2.3.1.pkl
weights/1.2.3.2.pkl
weights/1.2.pkl
weights/1.3-2.pkl
weights/1.3-3.pkl
weights/1.3.pkl
weights/2.1.pkl
weights/2.2.pkl
weights/FCL/1.pkl
weights/FCL/10.1.1.pkl
weights/FCL/10.1.2.pkl
weights/FCL/10.2.1.pkl
weights/FCL/10.2.2.pkl
weights/FCL/2.pkl
weights/FCL/3.pkl
weights/FCL/5.pkl
weights/FCL/6.pkl
weights/FCL/7.pkl
weights/FCL/8.pkl
weights/FCL/9.pkl
weights/FCL/cost_valid_curves/
weights/cost_valid_curves/
/helpers/
helpers/
weights/
